PORT=4001
DB_HOST=localhost
DB_PORT=5432
DB_NAME=car_data
DB_USER=postgres
DB_PASSWORD=change-me
CORS_ORIGIN=http://localhost:4000,http://localhost:4002,https://car.teensclub.mn

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
